* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial;
  display: flex;
  justify-content: center;
}

.container {
  margin: 10px;
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputCon {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.inputCon input {
  padding: 12px;
  font-size: 2rem;
}

.inputCon button {
  padding: 8px 16px;
  background-color: #ff4242;
  color: white;
  border-width: 1px;
}

.tweetList {
  border: 1px solid;
  overflow-y: auto;
  scrollbar-width: none;
  min-height: 700px;
  border-bottom: none;
  padding: 16px;
  width: 100%;
}

.tweetItem {
  padding-bottom: 16px;
  border-bottom: 1px solid;

}



.tweetText {
  margin-bottom: 12px;
}

.tweetText::before {
  content: url("https:/unsplash.it/32/32");
  margin-right: 10px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.option {
  display: flex;
  justify-content: space-between;
}

.delete {
  background-color: black;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timestamp {
  color: #333;
  font-weight: bold;
}