* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: arial;
}

.container {
    width: 400px;
    text-align: center;
    margin-top: 50px;
    padding: 32px;
}

.showPassword {
    text-wrap: wrap;
    margin: 8px 0;
    background-color: #f7f7f7;
    border-radius: 4px;
    padding: 12px 8px;
}

form {
    text-align: left;
    margin-top: 8px;
}

form input {
    margin-top: 20px;

}

#range {
    width: 100%;

}