* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.loader-overlay {
    text-align: center;
    padding: 80px 20px;
    background-color: #f7f7f7;
    border-radius: 8px;

}

.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 20px auto;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}